<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
<meta name="author" content="Bootstrap-ecommerce by Vosidiy">

<title>Q Cuarto</title>

<link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Bootstrap4 files-->
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- FontAwesome -->
<script src="https://kit.fontawesome.com/dbd1c42df9.js" crossorigin="anonymous"></script>

<!-- plugin: owl carousel  -->
<link href="plugins/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
<link href="plugins/owlcarousel/assets/owl.theme.default.css" rel="stylesheet">
<script src="plugins/owlcarousel/owl.carousel.min.js"></script>

<!-- custom style -->
<link href="css/ui.css" rel="stylesheet" type="text/css"/>
<link href="css/responsive.css" rel="stylesheet" media="only screen and (max-width: 1200px)" />
<link href="css/intlTelInput.min.css" rel="stylesheet" type="text/css">

<!-- custom javascript -->
<script src="js/script.js" type="text/javascript"></script>
<script src="js/intlTelInput.js" type="text/javascript"></script>

<script type="text/javascript">
/// some script

// jquery ready start
$(document).ready(function() {
    // jQuery code

});
// jquery end
</script>

</head>


<body>
<header class="section-header">


<section class="header-main bg2">
    <div class="container">
<div class="row align-items-center">

    <a href=index.html>
    <div class="col-lg-5-24 order-1 col-12">
        <div class="brand-wrap offset-4">
            <img class="logo" src="img/Qcuarto.png">
            <h2 class="logo-text">Q Cuarto</h2>
        </div> <!-- brand-wrap.// -->
    </div>
    </a>

    <div class="col-lg-11-24 col-sm-12 order-3 order-lg-2">
        <form action="#">
            <div class="input-group w-100">
                <select class="custom-select"  name="category_name">
                        <option value="">Cualquier tipo </option>
                        <option value="casa">En Casa</option>
                        <option value="departamento">En departamento</option>
                        <option value="otro">Otros (hotel, casa rodante, cabaña, etc)</option>
                </select>
                <select class="custom-select"  name="category_name">
                        <option value="">Cualquier ciudad </option>
                        <option value="">CIUDAD DE MEXICO (todo)</option>
                        <option value="">CDMX - Polanco-Azures</option>
                        <option value="">CDMX - Valle-Narvarte</option>
                        <option value="">CDMX - Santa Fe</option>
                        <option value="">CDMX - Roma-Condesa</option>
                        <option value="">CDMX - Coyoacán</option>
                        <option value="">CDMX - Otra zona</option>
                        <option value="">Toluca</option>
                        <option value="">GUADALAJARA (todo)</option>
                        <option value="">GDL - Guadalajara</option>
                        <option value="">GDL - Zapopan</option>
                        <option value="">GDL - Tlajomulco</option>
                        <option value="">GDL - Tlaquepaque</option>
                        <option value="">GDL - Tonalá</option>
                        <option value="">GDL - El Salto</option>
                        <option value="">Monterrey</option>
                        <option value="">Ecatepec de Morelos</option>
                        <option value="">León</option>
                        <option value="">San Luis Potosí</option>
                        <option value="">Puebla</option>
                        <option value="">Tijuana</option>
                        <option value="">Ciudad Juárez</option>
                        <option value="">Aguascalientes</option>
                        <option value="">Mexicali</option>
                        <option value="">Oaxaca</option>
                        <option value="">Mérida</option>
                </select>

                <div class="input-group-append">
                  <button class="btn btn-primary" type="submit">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
            </div>
        </form> <!-- search-wrap .end// -->
    </div> <!-- col.// -->

    <div class="col-lg-6-24 offset-lg-1-24 col-12  order-2  order-lg-3">
        <div class="d-flex justify-content-end">

            <a href="search_tenant.html" class="widget-header border-left pl-2 ml-2">
                <div class="icontext">
                    <div class="icon-wrap icon-sm round border"><label data-toggle="tooltip" title="" data-original-title="Búsqueda de roomies"><i class="fas fa-user-tag"></i></label></div>
                </div>
                <span class="badge badge-pill badge-danger notify">0</span>
            </a>

            <a href="rooms.html" class="widget-header border-left pl-2 ml-2">
                <div class="icontext">
                    <div class="icon-wrap icon-sm round border"><label data-toggle="tooltip" title="" data-original-title="Mis anuncios"><i class="fas fa-shapes"></i></label></div>
                </div>
                <span class="badge badge-pill badge-danger notify">0</span>
            </a>

            <a href="seen.html" class="widget-header border-left pl-2 ml-2">
                <div class="icontext">
                    <div class="icon-wrap icon-sm round border"><label data-toggle="tooltip" title="" data-original-title="Quién ha visto mis anuncios"><i class="far fa-eye"></i></label></div>
                </div>
                <span class="badge badge-pill badge-danger notify">0</span>
            </a>


            <a href="messages.html" class="widget-header border-left pl-2 ml-2">
                <div class="icontext">
                    <div class="icon-wrap icon-sm round border"><label data-toggle="tooltip" title="" data-original-title="Mis mensajes"><i class="fas fa-comment-alt"></i></label></div>
                </div>
                <span class="badge badge-pill badge-danger notify">0</span>
            </a>


            <ul class="menu-category col-sm-4">
        <li class="has-submenu"> <a href="#">
            <div class="icontext border-left pl-1 widget-header">
                    <i class="far fa-user-circle fa-3x"></i>
                    <i class="fas fa-caret-down pl-1"></i>
            </div></a>
            <ul class="submenu">
                <li> <a href="#"><b>Mi cuenta</b></a></li>
                <li> <a href="#">Mis anuncios</a></li>
                <li> <a href="#">Mis mensajes</a></li>
                <li> <a href="#">Quién me ha visto</a></li>
                <li> <a href="#">Mi suscripción</a></li>
                <li> <a href="#">Tips</a></li>
                <li> <a href="#">Ayuda</a></li>
            </ul>
        </li>
            </ul>



        </div> <!-- widgets-wrap.// -->
    </div> <!-- col.// -->
</div> <!-- row.// -->
    </div> <!-- container.// -->
</section> <!-- header-main .// -->

<section class="bg2">
<div class="container">
<div class="row">
    <div class="col-12">
<nav class="navbar navbar-expand-lg navbar-light">
    <a href="room_submit.html" class="col-12 col-md-6 btn-primary py-3 my-1 mx-1 text-center text-uppercase">Tengo un cuarto</a>
    <a href="room_submit.html" class="col-12 col-md-6 btn-success py-3 my-1 mx-1 text-center text-uppercase">Busco un cuarto</a>

</nav>
    </div>
</div>
</div>
</section>

</header> <!-- section-header.// -->


<body>
    <div class="container main-secction">
        <div class="row">
            <br>
            <br>
            <div class="row user-left-part">
                
                <div class="col-sm-9 col-xs-12 pull-right profile-right-section">
                    <div class="row profile-right-section-row">
                        <div class="col-md-12 profile-header">
                            <div class="row">
                                <div class="col-md-8 col-sm-6 col-xs-6 profile-header-section1 pull-left">
                                    <h1>Juan Perez</h1>
                                    <br>
                                    <br>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-12">
                                        <ul class="nav nav-tabs" role="tablist">
                                                <li class="nav-item">
                                                  <a class="nav-link active" href="#profile" role="tab" data-toggle="tab"><i class="fas fa-user-circle"></i> Perfil</a>
                                                </li>
                                                <li class="nav-item">
                                                  <a class="nav-link" href="#stats" role="tab" data-toggle="tab"><i class="fas fa-info-circle"></i> Información Detallada</a>
                                                </li>
                                                <li class="nav-item">
                                                  <a class="nav-link" href="#notifications" role="tab" data-toggle="tab"><i class="fas fa-bell"></i> Notificaciones</a>
                                                </li>  
                                                <li class="nav-item">
                                                  <a class="nav-link" href="#security" role="tab" data-toggle="tab"><i class="fas fa-lock"></i> Seguridad</a>
                                                </li>                                                
                                              </ul>
                                              
                                              <!-- Tab panes -->
                                              <div class="tab-content">
                                                <div role="tabpanel" class="tab-pane fade show active" id="profile">
                                                        <div class="row">
                                                                <div class="col-md-2">
                                                                    <label><b>ID</b></label>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <p>509230671</p>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-2">
                                                                    <label><b>Nombre</b></label>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <p>Juan Perez</p>
                                                                </div>
                                                                <div class="form-group col-12">
                                                                    <label>Cambiar nombre</label>
                                                                    <div class="input-group col-md-6">
                                                                        <div class="input-group-prepend">
                                                                            <span class="input-group-text"><i class="fas fa-id-card"></i></span>
                                                                        </div>
                                                                        <input type="text" class="form-control" id="" placeholder="">
                                                                    </div> <!-- input-group.// -->
                                                                    </div> <!-- form-group.// -->
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-2">
                                                                    <label><b>Email</b></label>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <p>juanp@gmail.com</p>
                                                                </div>
                                                                <div class="form-group col-12">
                                                                    <label>Cambiar email</label>
                                                                    <div class="input-group col-md-6">
                                                                        <div class="input-group-prepend">
                                                                            <span class="input-group-text"><i class="fas fa-at"></i></span>
                                                                        </div>
                                                                        <input type="text" class="form-control" id="" placeholder="">
                                                                    </div> <!-- input-group.// -->
                                                                    </div> <!-- form-group.// -->
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-2">
                                                                    <label><b>Teléfono</b></label>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <p>+523334659867</p>
                                                                </div>
                                                                <div class="form-group col-12">
                                                                    <label>Cambiar teléfono</label>
                                                                    <div class="input-group col-md-6">
                                                                        <div class="input-group-prepend">
                                                                            <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                                                                        
                                                                        <input class="form-control" placeholder="Número telefónico" id="phone" name="phone" type="tel">
                                                                        </div>
                                                                        </div> <!-- input-group.// -->
                                                                    </div> <!-- form-group.// -->
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-2">
                                                                    <label><b>Sitio Web</b></label>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <a href="#">www.qcuarto.com</a>
                                                                </div>
                                                                <div class="form-group col-12">
                                                                    <label>Cambiar sitio web</label>
                                                                    <div class="input-group col-md-6">
                                                                        <div class="input-group-prepend">
                                                                            <span class="input-group-text"><i class="fas fa-globe-americas"></i></span>
                                                                        </div>
                                                                        <input type="text" class="form-control" id="" placeholder="">
                                                                    </div> <!-- input-group.// -->
                                                                    </div> <!-- form-group.// -->
                                                            </div>
                                                            <button class="btn-primary col-md-8 col-12 text-center py-1 rounded" value="" name="">
                                                                Guardar Cambios
                                                            </button>
                                                </div>
                                                <div role="tabpanel" class="tab-pane fade" id="stats">
                                                        <div class="row">
                                                                <div class="col-md-6">
                                                                    <label>Anuncios en Qcuarto</label>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <p>123</p>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <label>Anuncios de cuartos</label>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <p>120</p>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <label>Anuncios como roomie</label>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <p>3</p>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <label>Tipo de suscripción</label>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <p>Realtor</p>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <label>Availability</label>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <p>6 months</p>
                                                                </div>
                                                            </div>
                                                            
                                                </div>
                                                
                                              

                                              <div role="tabpanel" class="tab-pane fade" id="notifications">
                                                        <div class="row">
                                                                <div class="col-md-6">
                                                                    <label>Correo electrónico</label>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <label class="form-check">
                                                                        <input class="form-check-input" type="checkbox" value="">
                                                                         <span class="form-check-label">
                                                                           <i class="fas fa-mail-bulk fa-2x"></i>
                                                                         </span>
                                                                    </label>
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <label>SMS</label>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <label class="form-check">
                                                                        <input class="form-check-input" type="checkbox" value="">
                                                                         <span class="form-check-label">
                                                                           <i class="fas fa-sms fa-2x"></i>
                                                                         </span>
                                                                    </label>
                                                                </div>
                                                            </div>

                                                            <button class="btn-primary col-md-4 col-12 text-center py-1 rounded" value="" name="">
                                                                Guardar Cambios
                                                            </button>

                                                            
                                                </div>

                                                <div role="tabpanel" class="tab-pane fade" id="security">
                                                        <div class="row">
                                                                <div class="form-group col-12">
                                                                <label>Cambiar contraseña</label>
                                                                <div class="input-group col-md-3">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text"><i class="fa fa-asterisk"></i></span>
                                                                    </div>
                                                                    <input type="password" class="form-control" id="" placeholder="">
                                                                </div> <!-- input-group.// -->
                                                                </div> <!-- form-group.// -->

                                                                <div class="form-group col-12">
                                                                <label>Confirmar contraseña</label>
                                                                <div class="input-group col-md-3">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text"><i class="fa fa-asterisk"></i></span>
                                                                    </div>
                                                                    <input type="password" class="form-control" id="" placeholder="">
                                                                </div> <!-- input-group.// -->
                                                                </div> <!-- form-group.// -->

                                                                <button class="btn-primary col-md-4 col-12 text-center py-1 rounded" value="" name="">
                                                                    Guardar Contraseña
                                                                </button>
                                                                

                                                            </div>
                                                                
                                                                <br>
                                                                <hr class="col-md-6 offset-1">
                                                                <br>
                                                                

                                                                <div class="row">
                                                                <div class="col-md-6">
                                                                    <label>Mostrar mi número a quien vea mis anuncios</label>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <label class="form-check">
                                                                        <input class="form-check-input" type="checkbox" value="">
                                                                         <span class="form-check-label">
                                                                           <i class="fas fa-phone fa-2x"></i>
                                                                         </span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <br>

                                                                <div class="row">
                                                                <div class="col-md-6">
                                                                    <label>Mostrar mi correo electrónico a quien vea mis anuncios</label>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <label class="form-check">
                                                                        <input class="form-check-input" type="checkbox" value="">
                                                                         <span class="form-check-label">
                                                                           <i class="fas fa-mail-bulk fa-2x"></i>
                                                                         </span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <br>


                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <label>Mostrar mi sitio web a quien vea mis anuncios</label>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <label class="form-check">
                                                                        <input class="form-check-input" type="checkbox" value="">
                                                                         <span class="form-check-label">
                                                                           <i class="fas fa-globe-americas fa-2x"></i>
                                                                         </span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <br>


                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <label>Permitir que me envíen mensajes</label>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <label class="form-check">
                                                                        <input class="form-check-input" type="checkbox" value="">
                                                                         <span class="form-check-label">
                                                                           <i class="fas fa-comment-alt fa-2x"></i>
                                                                         </span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <br>
                                                            <button class="btn-primary col-md-8 col-12 text-center py-1 rounded" value="" name="">
                                                                Guardar Cambios
                                                            </button>
                                                            <br>

                                                            

                                                            
                                                </div>
                                                </div>
                                                
                                              </div>
                          
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>
    var input = document.querySelector("#phone");
    window.intlTelInput(input, {
      // allowDropdown: false,
      // autoHideDialCode: false,
      // autoPlaceholder: "off",
      // dropdownContainer: document.body,
      // excludeCountries: ["us"],
      // formatOnDisplay: false,
      // geoIpLookup: function(callback) {
      //   $.get("http://ipinfo.io", function() {}, "jsonp").always(function(resp) {
      //     var countryCode = (resp && resp.country) ? resp.country : "";
      //     callback(countryCode);
      //   });
      // },
      // hiddenInput: "full_number",
      // initialCountry: "auto",
      // localizedCountries: { 'de': 'Deutschland' },
      // nationalMode: false,
      // onlyCountries: ['us', 'gb', 'ch', 'ca', 'do'],
      // placeholderNumberType: "MOBILE",
      // preferredCountries: ['cn', 'jp'],
      // separateDialCode: true,
      utilsScript: "build/js/utils.js",
    });
  </script>

</body>
</html>