<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
<meta name="author" content="Bootstrap-ecommerce by Vosidiy">

<title>Q Cuarto</title>

<link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

	<!-- Bootstrap4 files-->
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- FontAwesome -->
<script src="https://kit.fontawesome.com/dbd1c42df9.js" crossorigin="anonymous"></script>

<!-- plugin: owl carousel  -->
<link href="plugins/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
<link href="plugins/owlcarousel/assets/owl.theme.default.css" rel="stylesheet">
<script src="plugins/owlcarousel/owl.carousel.min.js"></script>

<!-- custom style -->
<link href="css/ui.css" rel="stylesheet" type="text/css"/>
<link href="css/responsive.css" rel="stylesheet" media="only screen and (max-width: 1200px)" />

<!-- custom javascript -->
<script src="js/script.js" type="text/javascript"></script>

<script type="text/javascript">
/// some script

// jquery ready start
$(document).ready(function() {
	// jQuery code

});
// jquery end
</script>

</head>


<body>
<header class="section-header">


<section class="header-main bg2">
	<div class="container">
<div class="row align-items-center">

	<a href=index_logged.html>
	<div class="col-lg-5-24 order-1 col-12">
		<div class="brand-wrap offset-4">
			<img class="logo" src="img/Qcuarto.png">
			<h2 class="logo-text">Q Cuarto</h2>
		</div> <!-- brand-wrap.// -->
	</div>
	</a>

	<div class="col-lg-11-24 col-sm-12 order-3 order-lg-2">
		<form action="#">
			<div class="input-group w-100">
				<select class="custom-select"  name="category_name">
						<option value="">Cualquier tipo </option>
						<option value="casa">En Casa</option>
						<option value="departamento">En departamento</option>
						<option value="otro">Otros (hotel, casa rodante, cabaña, etc)</option>
				</select>
			    <select class="custom-select"  name="category_name">
						<option value="">Cualquier ciudad </option>
						<option value="">CIUDAD DE MEXICO (todo)</option>
						<option value="">CDMX - Polanco-Azures</option>
						<option value="">CDMX - Valle-Narvarte</option>
						<option value="">CDMX - Santa Fe</option>
						<option value="">CDMX - Roma-Condesa</option>
						<option value="">CDMX - Coyoacán</option>
						<option value="">CDMX - Otra zona</option>
						<option value="">Toluca</option>
						<option value="">GUADALAJARA (todo)</option>
						<option value="">GDL - Guadalajara</option>
						<option value="">GDL - Zapopan</option>
						<option value="">GDL - Tlajomulco</option>
						<option value="">GDL - Tlaquepaque</option>
						<option value="">GDL - Tonalá</option>
						<option value="">GDL - El Salto</option>
						<option value="">Monterrey</option>
						<option value="">Ecatepec de Morelos</option>
						<option value="">León</option>
						<option value="">San Luis Potosí</option>
						<option value="">Puebla</option>
						<option value="">Tijuana</option>
						<option value="">Ciudad Juárez</option>
						<option value="">Aguascalientes</option>
						<option value="">Mexicali</option>
						<option value="">Oaxaca</option>
						<option value="">Mérida</option>
				</select>

			    <div class="input-group-append">
			      <button class="btn btn-primary" type="submit">
			        <i class="fa fa-search"></i>
			      </button>
			    </div>
		    </div>
		</form> <!-- search-wrap .end// -->
	</div> <!-- col.// -->

	<div class="col-lg-6-24 offset-lg-1-24 col-12  order-2  order-lg-3">
		<div class="d-flex justify-content-end">

			<a href="search_tenant.html" class="widget-header border-left pl-2 ml-2">
				<div class="icontext">
					<div class="icon-wrap icon-sm round border"><label data-toggle="tooltip" title="" data-original-title="Búsqueda de roomies"><i class="fas fa-user-tag"></i></label></div>
				</div>
				<span class="badge badge-pill badge-danger notify">0</span>
			</a>

			<a href="rooms.html" class="widget-header border-left pl-2 ml-2">
				<div class="icontext">
					<div class="icon-wrap icon-sm round border"><label data-toggle="tooltip" title="" data-original-title="Mis anuncios"><i class="fas fa-shapes"></i></label></div>
				</div>
				<span class="badge badge-pill badge-danger notify">0</span>
			</a>

			<a href="seen.html" class="widget-header border-left pl-2 ml-2">
				<div class="icontext">
					<div class="icon-wrap icon-sm round border"><label data-toggle="tooltip" title="" data-original-title="Quién ha visto mis anuncios"><i class="far fa-eye"></i></label></div>
				</div>
				<span class="badge badge-pill badge-danger notify">0</span>
			</a>


			<a href="messages.html" class="widget-header border-left pl-2 ml-2">
				<div class="icontext">
					<div class="icon-wrap icon-sm round border"><label data-toggle="tooltip" title="" data-original-title="Mis mensajes"><i class="fas fa-comment-alt"></i></label></div>
				</div>
				<span class="badge badge-pill badge-danger notify">0</span>
			</a>


			<ul class="menu-category col-sm-4">
		<li class="has-submenu"> <a href="#">
			<div class="icontext border-left pl-1 widget-header">
					<i class="far fa-user-circle fa-3x"></i>
					<i class="fas fa-caret-down pl-1"></i>
			</div></a>
			<ul class="submenu">
				<li> <a href="#"><b>Mi cuenta</b></a></li>
				<li> <a href="#">Mis anuncios</a></li>
				<li> <a href="#">Mis mensajes</a></li>
				<li> <a href="#">Quién me ha visto</a></li>
				<li> <a href="#">Mi suscripción</a></li>
				<li> <a href="#">Tips</a></li>
				<li> <a href="#">Ayuda</a></li>
			</ul>
		</li>
			</ul>



		</div> <!-- widgets-wrap.// -->
	</div> <!-- col.// -->
</div> <!-- row.// -->
	</div> <!-- container.// -->
</section> <!-- header-main .// -->

<section class="bg2">
<div class="container">
<div class="row">
	<div class="col-12">
<nav class="navbar navbar-expand-lg navbar-light">
	<a href="room_submit.html" class="col-12 col-md-6 btn-primary py-3 my-1 mx-1 text-center text-uppercase">Tengo un cuarto</a>
	<a href="room_submit.html" class="col-12 col-md-6 btn-success py-3 my-1 mx-1 text-center text-uppercase">Busco un cuarto</a>

</nav>
	</div>
</div>
</div>
</section>

</header> <!-- section-header.// -->



 
<section class="container ">
	<div class="row">
		<div class="col">
			<h1>Un gran título para un gran cuarto. Esta es una gran oportunidad.</h1>
		</div>
	</div>
</section>
<br>
<br>
<!-- ========================= SECTION MAIN ========================= -->
<section class="section-main padding-bottom">
<div class="container">
	<div class="row border border-top-0 bg-white ">
<!-- ================= main slide ================= -->
<div class="offset-1 col-10 offset-md-2 col-md-8">
<div class="owl-init slider-main owl-carousel" data-items="1" data-margin="1" data-nav="true" data-dots="false">
	<div class="item-slide">
		<img src="img/banners/GDL.jpg">

	</div>
	<div class="item-slide">
		<img src="img/banners/CDMX.jpg">
	</div>
	<div class="item-slide">
		<img src="img/banners/MTY.png">
	</div>
</div>
</div>
<!-- ============== main slidesow .end // ============= -->
</div> <!-- col.// -->
</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION MAIN END// ========================= -->

<section class="section-content padding-y">
<div class="container">
<article>
<header class="section-heading">
<h5 class="title-section">Descripción</h5>
</header>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae veritatis, nisi dolorum harum ut quos quae aliquid, quam sunt est enim nobis cum rem, fugit excepturi! Ratione non architecto accusantium.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis laudantium itaque, corrupti quam, non omnis vel dolorem asperiores earum cupiditate, repellat ullam. Molestiae adipisci dolorem earum voluptas, cum rem, dignissimos!</p>
</article>
</div>
</section>
<!-- ========================= CONTACTO ========================= -->

<section class="section-content padding-y">
<div class="container">
<article>
<header class="section-heading">
<h5 class="title-section">Contacto con el arrendador</h5>
</header>	
<div class="row">
	<div class="card bg2 mx-2 my-2 py-2 col-11 col-md-3">
			<span class="form-check-label col-2"><i class="fas fa-at fa-2x"></i></span>
    			<h6>E-mail</h6>
    			<p>correo@example.com</p>
	</div>
	<div class="card bg2 mx-2 my-2 py-2 col-11 col-md-3">
		<span class="form-check-label"><i class="fas fa-phone fa-2x"></i><h6>Teléfono</h6>
			<p>1234567890</p></span>
	</div>
	<div class="card bg2 mx-2 my-2 py-2 col-11 col-md-3">
		<span class="form-check-label"><i class="fas fa-globe-americas fa-2x"></i><h6>Sitio Web</h6>
			<a href=#>www.incrediblesite.com</a></span>
	</div>
</div>
</article>
</div>
</section>

<!-- ========================= AMENIDADES ========================= -->
<section class="section-content padding-y">
<div class="container">
<article>
<header class="section-heading">
<h5 class="title-section">Amenidades del sitio</h5>
</header>	
<div class="row">
	<div class="card bg2 mx-2 my-2 py-2 col-3  col-md-2">
		<span class="form-check-label">
				    <i class="fas fa-bolt fa-2x"></i>
				    <i class="fas fa-tint fa-2x"></i>
				    <i class="fas fa-fire fa-2x"></i>
				    
				  </span>
				  <h6>Servicios incluidos</h6>
	</div>
	<div class="card bg2 mx-2 my-2 py-2 col-3  col-md-2">
		<span class="form-check-label"><i class="fas fa-smoking fa-2x"></i><h6>Acepto Fumadores</h6></span>
	</div>
	<div class="card bg2 mx-2 my-2 py-2 col-3  col-md-2">
		<span class="form-check-label"><i class="fas fa-smoking-ban fa-2x"></i><h6>NO Acepto Fumadores</h6></span>
	</div>
	<div class="card bg2 mx-2 my-2 py-2 col-3  col-md-2">
		<span class="form-check-label"><i class="fas fa-air-freshener fa-2x"></i><h6>Sólo afuera</h6></span>
	</div>
	<div class="card bg2 mx-2 my-2 py-2 col-3 col-md-2">
		<span class="form-check-label">
				    <i class="fas fa-wifi fa-2x"></i>
				  </span>
				  <h6>WiFi</h6>
	</div>
	<div class="card bg2 mx-2 my-2 py-2 col-3 col-md-2">
		 <span class="form-check-label">
				    <i class="fas fa-car fa-2x"></i>
				  </span>
				  <h6>Parking</h6>
	</div>
	<div class="card bg2 mx-2 my-2 py-2 col-3 col-md-2">
		<span class="form-check-label">
				    <i class="fas fa-broom fa-2x"></i>
				  </span>
				  <h6>Limpieza incluida</h6>
	</div>
	<div class="card bg2 mx-2 my-2 py-2 col-3 col-md-2">
		<span class="form-check-label">
				    <i class="fas fa-dumbbell fa-2x"></i>
		</span>
		<h6>Gym</h6>
	</div>
	<div class="card bg2 mx-2 my-2 py-2 col-3 col-md-2">
		<span class="form-check-label">
				    <i class="fas fa-caret-square-up fa-2x"></i>
					<i class="fas fa-caret-square-down fa-2x"></i>
				    
				  </span>
				  <h6>Elevador</h6>
	</div>
	<div class="card bg2 mx-2 my-2 py-2 col-3 col-md-2">
		<span class="form-check-label">
				    <i class="fas fa-toilet fa-2x"></i>
				    
				  </span>
				  <h6>Baño privado</h6>
	</div>
	<div class="card bg2 mx-2 my-2 py-2 col-3 col-md-2">
		<span class="form-check-label">
				    <i class="fas fa-file-invoice-dollar fa-2x"></i>
				    
				  </span>
				  <h6>Facturación</h6>
	</div>
	<div class="card bg2 mx-2 my-2 py-2 col-3 col-md-2">
		<span class="form-check-label">
				    <i class="fas fa-blender fa-2x"></i>
				    
				  </span>
				  <h6>Acceso a cocina</h6>
	</div>
	<div class="card bg2 mx-2 my-2 py-2 col-3 col-md-2">
		<span class="form-check-label">
				    <i class="fas fa-hamburger fa-2x"></i>
				    
				  </span>
				  <h6>Preparación de comidas</h6>
	</div>
	<div class="card bg2 mx-2 my-2 py-2 col-3 col-md-2">
		<span class="form-check-label">
				    <i class="fas fa-paw fa-2x"></i>
				    
				  </span>
				  <h6>Acepto Mascotas</h6>
	</div>
	<div class="card bg2 mx-2 my-2 py-2 col-3 col-md-2">
		<span class="form-check-label">
				    <i class="fas fa-users fa-2x"></i>
				    
				  </span>
				  <h6>Acepto visitas</h6>
	</div>
	<div class="card bg2 mx-2 my-2 py-2 col-3 col-md-2">
		<span class="form-check-label">
				    <i class="fas fa-baby fa-2x"></i>
				    
				  </span>
				  <h6>Acepto infantes</h6>
	</div>
	<div class="card bg2 mx-2 my-2 py-2 col-3 col-md-2">
		<span class="form-check-label">
				    <i class="fas fa-tshirt fa-2x"></i>
				    
				  </span>
				  <h6>Lavadora</h6>
	</div>
	<div class="card bg2 mx-2 my-2 py-2 col-3 col-md-2">
		<span class="form-check-label">
				    <i class="fas fa-tint-slash fa-2x"></i>
				    
				  </span>
				  <h6>Secadora</h6>
	</div>
	<div class="card bg2 mx-2 my-2 py-2 col-3 col-md-2">
		<span class="form-check-label">
				    <i class="fas fa-handshake fa-2x"></i>
				    
				  </span>
				  <h6>Trato Directo</h6>
	</div>

	<div class="card bg2 mx-2 my-2 py-2 col-6 col-md-2">
		<span class="form-check-label">
				    <i class="fas fa-user-plus fa-2x"></i>
				    
				  </span>
				  <h4>$1,000</h4><h6> por persona extra.</h6>
	</div>
	
</div>
<br>

<section class="section-content padding-y">
<div class="container">
<article>
<header class="section-heading">
<h5 class="title-section">Perfil del inquilino ideal</h5>
</header>	
<div class="row">
	<div class="card bg2 mx-2 my-2 py-2 col-3  col-md-2">
		<span class="form-check-label"><i class="fas fa-mars fa-2x"></i><h6>Hombre</h6></span>
	</div>
	<div class="card bg2 mx-2 my-2 py-2 col-3 col-md-2">
		<span class="form-check-label"><i class="fas fa-venus fa-2x"></i><h6>Mujer</h6></span>
	</div>
	<div class="card bg2 mx-2 my-2 py-2 col-3 col-md-2">
		 <span class="form-check-label"><i class="fas fa-venus-mars fa-2x"></i><h6>Cualquier género</h6></span>
	</div>
	<div class="card bg2 mx-2 my-2 py-2 col-3 col-md-2">
		<span class="form-check-label"><i class="fas fa-smoking fa-2x"></i><h6>Acepto Fumadores</h6></span>
	</div>
	<div class="card bg2 mx-2 my-2 py-2 col-3 col-md-2">
		<span class="form-check-label"><i class="fas fa-smoking-ban fa-2x"></i><h6>NO Acepto Fumadores</h6></span>
	</div>
	<div class="card bg2 mx-2 my-2 py-2 col-3 col-md-2">
		<span class="form-check-label"><i class="fas fa-air-freshener fa-2x"></i><h6>Fumar sólo afuera</h6></span>
	</div>
	<div class="card bg2 mx-2 my-2 py-2 col-6 col-md-4">
			<span class="form-check-label col-2"><i class="fas fa-users fa-2x"></i></span>
    			<h6>Cuarto para X a Y Personas</h6>
	</div>
	<div class="card bg2 mx-2 my-2 py-2 col-6 col-md-4">
			<span class="form-check-label"><i class="fas fa-user fa-2x"></i></span>
          <h6>Cuarto individual</h6>
	</div>

<br></article>
</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

<!-- ========================= FOOTER ========================= -->
<footer class="section-footer bg2">
	<div class="container">
		<section class="footer-bottom row">
			<div class="col-sm-6"> 
				<a href="http://www.qcuarto.com/contact"><p> Feedback y contacto <i class="fas fa-phone"></i></a>
				<br>
				<a href="http://www.qcuarto.com/ourselves"><p>¿Quiénes somos? / Nosotros <i class="fas fa-hand-spock"></i></p></a>
			</div>
			<div class="col-sm-6">
				<p class="text-sm-right">
Copyright &copy 2020 <br>
<a href="http://www.qcuarto.com/privacy">Aviso de Privacidad <i class="fas fa-lock"></i> </a>
				</p>
			</div>
		</section> <!-- //footer-top -->
	</div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->


</body>
</html>