<!-- PARA UN FORMULARIO, SI ALGO FALTA, O ESTA MAL, REMARCAR EN: class=" border border-danger bg-pink " -->

<!-- USAR PARA BOTONES -->
<form method='get' action='#'>
    <input type="submit" value="Next" name="Next"/>
</form>
<!-- Ó -->
<button class="btn-primary col-12 text-center py-1 rounded" value="" name="">
    Guardar Cambios
</button>

<!-- UN RESULTADO PARA SITIO-->
<div class="card col-6 px-2 py-4 col-md-4">
    <a href="room_listing.html">

    <!-- IMAGEN EN OWL CAROUSEL -->
        <div class=" col-12">
            <div class="owl-init slider-main owl-carousel" data-items="1" data-margin="1" data-nav="true" data-dots="false">
                <div class="item-slide">
                    <img src="img/posts/1.jpg">
                </div>
            </div>
        </div>

                
        <!-- TÍTULO -->
        <h5 class="card-title">Cuarto amueblado Loma bonita plaza del sol, expo gdl, cursos huitron, universidad marista.</h5>

    </a>

    <div class="card-body">

        <!-- PRECIO -->
        <div class="row">
            <h4 class="card-title col-md-3 col-6">$4,565</h4>

        <!-- FAVORITOS (SI NO ESTÁ EN FAVORITOS, ES i class="far fa-heart", SI SÍ ESTÁ EN FAVORITOS ES i class="fas fa-heart") -->
        <div class="icontext">
            <button class="btn"><div class="icon-wrap icon-sm round border"><label data-toggle="tooltip" title="" data-original-title="Agregar a favoritos"><i class="far fa-heart"></i></label></div></button>
        </div>

        </div>
        

        <!-- SI ESTÁ LA CUENTA VERIFICADA, SE MUESTRA ESTO -->
        <div>
        <p class="card-text"><small class="text-muted">
        <span class="fa-stack">
              <i class="fas fa-circle fa-stack-2x " style="color:Mediumslateblue"></i>
              <i class="fas fa-check fa-stack-1x fa-inverse"></i>	
        </span>Cuenta verificada</small></p>
        </div>


        <!-- VISITAS E INTENTOS DE CONTACTO -->
        <div class="rating-wrap ">

            <div class="label-rating badge-success rounded">132 vistas</div>
            <div class="label-rating badge-success rounded">154 contacto</div>
        </div>
        
        <!-- COLONIA -->
        <span class="text-muted"><p><i class="fas fa-map-marker"></i>	Loma bonita</p></span>

        <!-- CREATED -->
        <p class="card-text"><small class="text-muted">Hace 3 meses</small></p>

    </div><!-- card body -->

</div>  <!-- card resultado -->


<!-- UN RESULTADO PARA ROOMIE-->
<div class="card col-6 px-2 py-4 col-md-4">
    <a href="room_listing.html">

    <!-- IMAGEN EN OWL CAROUSEL -->
        <div class=" col-12">
            <div class="owl-init slider-main owl-carousel" data-items="1" data-margin="1" data-nav="true" data-dots="false">
                <div class="item-slide">
                    <img src="img/avatars/avatar4.jpg">
                </div>
            </div>
        </div>

                
        <!-- TÍTULO -->
        <h5 class="card-title">Andrea.2 Personas.Fuma.Mujeres</h5>

    </a>

    <div class="card-body">

        <!-- PRECIO -->
        <div class="row">
            <h4 class="card-title col-md-3 col-6">$4,565</h4>

        <!-- FAVORITOS (SI NO ESTÁ EN FAVORITOS, ES i class="far fa-heart", SI SÍ ESTÁ EN FAVORITOS ES i class="fas fa-heart") -->
        <div class="icontext">
            <button class="btn"><div class="icon-wrap icon-sm round border"><label data-toggle="tooltip" title="" data-original-title="Agregar a favoritos"><i class="far fa-heart"></i></label></div></button>
        </div>

        </div>
        

        <!-- SI ESTÁ LA CUENTA VERIFICADA, SE MUESTRA ESTO -->
        <div>
        <p class="card-text"><small class="text-muted">
        <span class="fa-stack">
              <i class="fas fa-circle fa-stack-2x " style="color:Mediumslateblue"></i>
              <i class="fas fa-check fa-stack-1x fa-inverse"></i>	
        </span>Cuenta verificada</small></p>
        </div>


        <!-- VISITAS E INTENTOS DE CONTACTO -->
        <div class="rating-wrap ">

            <div class="label-rating badge-success rounded">132 vistas</div>
            <div class="label-rating badge-success rounded">154 contacto</div>
        </div>
        
        <!-- CREATED -->
        <p class="card-text"><small class="text-muted">Hace 3 meses</small></p>

    </div><!-- card body -->

</div>  <!-- card resultado -->

<!-- RESULTADOS CON ROOMIES Y SITIOS-->	
<div class="container-fluid">
	<div class="row">


		<!-- UN RESULTADO PARA SITIO-->
<div class="card col-6 px-2 py-4 col-md-4">
    <a href="room_listing.html">

    <!-- IMAGEN EN OWL CAROUSEL -->
        <div class=" col-12">
            <div class="owl-init slider-main owl-carousel" data-items="1" data-margin="1" data-nav="true" data-dots="false">
                <div class="item-slide">
                    <img src="img/posts/1.jpg">
                </div>
            </div>
        </div>

                
        <!-- TÍTULO -->
        <h5 class="card-title">Cuarto amueblado Loma bonita plaza del sol, expo gdl, cursos huitron, universidad marista.</h5>

    </a>

    <div class="card-body">

        <!-- PRECIO -->
        <div class="row">
            <h4 class="card-title col-md-3 col-6">$4,565</h4>

        <!-- FAVORITOS (SI NO ESTÁ EN FAVORITOS, ES i class="far fa-heart", SI SÍ ESTÁ EN FAVORITOS ES i class="fas fa-heart") -->
        <div class="icontext">
            <button class="btn"><div class="icon-wrap icon-sm round border"><label data-toggle="tooltip" title="" data-original-title="Agregar a favoritos"><i class="fas fa-heart"></i></label></div></button>
        </div>

        </div>
        

        <!-- SI ESTÁ LA CUENTA VERIFICADA, SE MUESTRA ESTO -->
        <div>
        <p class="card-text"><small class="text-muted">
        <span class="fa-stack">
              <i class="fas fa-circle fa-stack-2x " style="color:Mediumslateblue"></i>
              <i class="fas fa-check fa-stack-1x fa-inverse"></i>	
        </span>Cuenta verificada</small></p>
        </div>


        <!-- VISITAS E INTENTOS DE CONTACTO -->
        <div class="rating-wrap ">

            <div class="label-rating badge-success rounded">132 vistas</div>
            <div class="label-rating badge-success rounded">154 contacto</div>
        </div>
        
        <!-- COLONIA -->
        <span class="text-muted"><p><i class="fas fa-map-marker"></i>	Loma bonita</p></span>

        <!-- CREATED -->
        <p class="card-text"><small class="text-muted">Hace 3 meses</small></p>

    </div><!-- card body -->

</div>  <!-- card resultado -->


<!-- UN RESULTADO PARA ROOMIE-->
<div class="card col-6 px-2 py-4 col-md-4">
    <a href="room_listing.html">

    <!-- IMAGEN EN OWL CAROUSEL -->
        <div class=" col-12">
            <div class="owl-init slider-main owl-carousel" data-items="1" data-margin="1" data-nav="true" data-dots="false">
                <div class="item-slide">
                    <img src="img/avatars/avatar4.jpg">
                </div>
            </div>
        </div>

                
        <!-- TÍTULO -->
        <h5 class="card-title">Andrea.2 Personas.Fuma.Mujeres</h5>

    </a>

    <div class="card-body">

        <!-- PRECIO -->
        <div class="row">
            <h4 class="card-title col-md-3 col-6">$4,565</h4>

        <!-- FAVORITOS (SI NO ESTÁ EN FAVORITOS, ES i class="far fa-heart", SI SÍ ESTÁ EN FAVORITOS ES i class="fas fa-heart") -->
        <div class="icontext">
            <button class="btn"><div class="icon-wrap icon-sm round border"><label data-toggle="tooltip" title="" data-original-title="Agregar a favoritos"><i class="fas fa-heart"></i></label></div></button>
        </div>

        </div>
        

        <!-- SI ESTÁ LA CUENTA VERIFICADA, SE MUESTRA ESTO -->
        <div>
        <p class="card-text"><small class="text-muted">
        <span class="fa-stack">
              <i class="fas fa-circle fa-stack-2x " style="color:Mediumslateblue"></i>
              <i class="fas fa-check fa-stack-1x fa-inverse"></i>	
        </span>Cuenta verificada</small></p>
        </div>


        <!-- VISITAS E INTENTOS DE CONTACTO -->
        <div class="rating-wrap ">

            <div class="label-rating badge-success rounded">132 vistas</div>
            <div class="label-rating badge-success rounded">154 contacto</div>
        </div>
        
        <!-- CREATED -->
        <p class="card-text"><small class="text-muted">Hace 3 meses</small></p>

    </div><!-- card body -->

</div>  <!-- card resultado -->
	</div>
</div>