<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
<meta name="author" content="Bootstrap-ecommerce by Vosidiy">

<title>Q Cuarto</title>
<link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

	<!-- Bootstrap4 files-->
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- FontAwesome -->
<script src="https://kit.fontawesome.com/dbd1c42df9.js" crossorigin="anonymous"></script>

<!-- plugin: owl carousel  -->
<link href="plugins/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
<link href="plugins/owlcarousel/assets/owl.theme.default.css" rel="stylesheet">
<script src="plugins/owlcarousel/owl.carousel.min.js"></script>

<!-- custom style -->
<link href="css/ui.css" rel="stylesheet" type="text/css"/>
<link href="css/responsive.css" rel="stylesheet" media="only screen and (max-width: 1200px)" />

<!-- custom javascript -->
<script src="js/script.js" type="text/javascript"></script>

<script type="text/javascript">
/// some script

// jquery ready start
$(document).ready(function() {
	// jQuery code

});
// jquery end
</script>

</head>


<body>


<footer class="section-footer bg2 ">
	<div class="container">
		<section class="footer-bottom row">
			<div class="col-sm-6"> 
				<a href="contact.html"><p> Feedback y contacto <i class="fas fa-phone"></i></a>
				<br>
			</div>
			<div class="col-sm-6">
				<p class="text-sm-right">
Copyright &copy 2021 <br>
<a href="privacy">Aviso de Privacidad y Legal <i class="fas fa-lock"></i><i class="fas fa-scroll"></i> </a>
				</p>
			</div>
		</section> <!-- //footer-top -->
	</div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->


</body>
</html>