{% extends 'core/base.html' %}
{% load static %}
{% load search_tags %}
{% load humanize %}
{% block title %}Encuentra cuarto{% endblock %}
{% block content %}




	<div id="map" class="col-12" style="height:400px"></div>
	<button class="btn btn-primary col-12" id="actualizarBtn" disabled onclick="ActualizarPag()">Actualizar búsqueda</button>
	<input type="hidden" id="urlNueva" value="">



<!-- FILTROS -->
<form id="filtrosForm" name="filtrosForm">

<input type="hidden" name="norte" id="norte" value="">
<input type="hidden" name="sur" id="sur" value="">
<input type="hidden" name="este" id="este" value="">
<input type="hidden" name="oeste" id="oeste" value="">
<input type="hidden" name="lat_centro" id="lat_centro" value="23.6345">
<input type="hidden" name="lon_centro" id="lon_centro" value="-102.5528">
<input type="hidden" name="nivel_zoom" id="nivel_zoom" value="6">

<article class="list-group-item">
	<header class="filter-header">
		<a href="#" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" class="collapsed">
			<i class="icon-action fa fa-chevron-down "></i>
			<h4 class="title col-4 mx-1">Filtros <i class="fas fa-filter"></i></h4>
		</a>
	</header>
	<div class="filter-content collapse" id="collapse1" style="">			

		<section class="bg2">
			<div class="card bg2">
				<article class="card-group-item">
					<header class="card-header bg2">
						<div class="container-fluid">
							<div class="row">

								<button id="submit_btn" type="submit" class="btn-success col-12 py-3 mx-1 text-center" onclick="DoSubmit()">Aplicar Filtros</button>
							</div>
						</div>
					</header>
					<div class="card-body">
						<form>
							<div class="container-fluid">

								<header class="card-header">
									<h6 class="title">Rango de precios</h6>
								</header>
								<div class="card-body">
									<div class="form-row">
										<div class="form-group col-md-6">
											<label>Min</label>
											<input type="number" class="form-control" id="minPrice" name="minPrice"  placeholder="$0">
										</div>
										<div class="form-group col-md-6 text-right">
											<label>Max</label>
											<input type="number" class="form-control" id="maxPrice" name="maxPrice" placeholder="$1,0000">
										</div>
									</div>
								</div> <!-- card-body.// -->

								<hr>

								<header class="card-header">
									<h6 class="title">Orden de resultados</h6>
								</header>
								<div class="card-body">
									<div class="form-row">
										
										<div class="input-group">
											<div class="btn-group flex-wrap" role="group">

												{% comment %} <input type="radio" class="btn-check" name="sort" id="relevant" value="relevant" checked>
												<label class="btn btn-outline-primary" for="relevant">
												<span><i class="fas fa-sort-amount-down">
													Por defecto
												</i></span>
												</label> {% endcomment %}

												<input type="radio" class="btn-check" name="sort" id="precioMenor" value="precioMenor" checked>
												<label class="btn btn-outline-primary" for="precioMenor">
												<span><i class="fas fa-sort-numeric-down">
													Menor->Mayor Precio
												</i></span>
												</label>

												<input type="radio" class="btn-check" name="sort" id="precioMayor" value="precioMayor">
												<label class="btn btn-outline-primary" for="precioMayor">
												<span><i class="fas fa-sort-numeric-down-alt">
													Mayor->Menor Precio
												</i></span>
												</label>
											</div>
										</div> <!-- input-group.// -->

									</div>
								</div> <!-- card-body.// -->

								<hr>

    <div class="container">
    	
    	<div class="row">


        	<div class="form-group col-md-3">
				<h5>Cantidad de personas que habitarán</h5>
				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text">
							<i class="fa fa-user-friends"></i>
						</span>
					</div>
					<input type="number" class="form-control" id="personAmt" name="personAmt"  placeholder="1">
				</div> <!-- input-group.// -->
			</div>

			<div class="form-group col-md-6">
				<h5>Género</h5>
				<div class="input-group">
					<div class="btn-group flex-wrap" role="group">

  						<input type="radio" class="btn-check" name="gender" id="any" value="any" checked>
  						<label class="btn btn-outline-primary" for="any">
						  <span><i class="fas fa-venus-mars">
						  	Cualquier género
						  </i></span>
						</label>

  						<input type="radio" class="btn-check" name="gender" id="mujer" value="mujer">
  						<label class="btn btn-outline-primary" for="mujer">
						  <span><i class="fas fa-venus">
						  	Solo mujeres
						  </i></span>
						</label>

  						<input type="radio" class="btn-check" name="gender" id="hombre" value="hombre">
  						<label class="btn btn-outline-primary" for="hombre">
						  <span><i class="fas fa-mars">
						  	Solo hombres
						  </i></span>
						</label>
					</div>
				</div> <!-- input-group.// -->
			</div>
			
			<div class="form-group col-md-3">
				<h5>Fumadores</h5>
				<div class="input-group">
					<div class="custom-control custom-switch">
  						<input class="custom-control-input" type="checkbox" id="smoker" name="smoker">
  						<label class="custom-control-label" for="smoker">
  						  <span><i class="fas fa-smoking-ban">
						  	No fumadores
						  </i></span>
  						</label>
					</div>	
				</div> <!-- input-group.// -->
			</div>

    	</div>
    </div>
</form>


								<hr>
								<h5>Amenidades que buscas</h5>

								<div class="row">

									<div class="col-6 col-md-2 bg2">
										<label class="form-check">
											<input class="form-check-input" type="checkbox" value="on" name="servicios" >
											<span class="form-check-label">
												<i class="fas fa-bolt"></i>
												<i class="fas fa-tint"></i>
												<i class="fas fa-fire"></i>
											</span>
											<h6>Servicios incluidos</h6>
										</label> <!-- form-check.// -->
									</div>

									<div class="col-6 col-md-2 bg2">
										<label class="form-check">
											<input class="form-check-input" type="checkbox" value="on" name="wifi" >
											<span class="form-check-label">
												<i class="fas fa-wifi"></i>
											</span>
											<h6>WiFi</h6>
										</label> <!-- form-check.// -->
									</div>

									<div class="col-6 col-md-2 bg2">
										<label class="form-check">
											<input class="form-check-input" type="checkbox" value="on" name="estacionamiento" >
											<span class="form-check-label">
												<i class="fas fa-car"></i>
											</span>
											<h6>Parking</h6>
										</label> <!-- form-check.// -->
									</div>

									<div class="col-6 col-md-2 bg2">
										<label class="form-check">
											<input class="form-check-input" type="checkbox" value="on" name="limpieza" >
											<span class="form-check-label">
												<i class="fas fa-broom"></i>
											</span>
											<h6>Limpieza incluida</h6>
										</label> <!-- form-check.// -->
									</div>

									<div class="col-6 col-md-2 bg2">
										<label class="form-check">
											<input class="form-check-input" type="checkbox" value="on" name="gym" >
											<span class="form-check-label">
												<i class="fas fa-dumbbell"></i>
											</span>
											<h6>Gym</h6>
										</label> <!-- form-check.// -->
									</div>

									<div class="col-6 col-md-2 bg2">
										<label class="form-check">
											<input class="form-check-input" type="checkbox" value="on" name="elevador">
											<span class="form-check-label">
												<i class="fas fa-caret-square-up"></i>
												<i class="fas fa-caret-square-down"></i>

											</span>
											<h6>Elevador</h6>
										</label> <!-- form-check.// -->
									</div>

									<div class="col-6 col-md-2 bg2">
										<label class="form-check">
											<input class="form-check-input" type="checkbox" value="on" name="bano" >
											<span class="form-check-label">
												<i class="fas fa-toilet"></i>

											</span>
											<h6>Baño privado</h6>
										</label> <!-- form-check.// -->
									</div>

									<div class="col-6 col-md-2 bg2">
										<label class="form-check">
											<input class="form-check-input" type="checkbox" value="on" name="facturacion" >
											<span class="form-check-label">
												<i class="fas fa-file-invoice-dollar"></i>

											</span>
											<h6>Facturación</h6>
										</label> <!-- form-check.// -->
									</div>

									<div class="col-6 col-md-2 bg2">
										<label class="form-check">
											<input class="form-check-input" type="checkbox" value="on" name="cocina" >
											<span class="form-check-label">
												<i class="fas fa-blender"></i>

											</span>
											<h6>Acceso a cocina</h6>
										</label> <!-- form-check.// -->
									</div>

									<div class="col-6 col-md-2 bg2">
										<label class="form-check">
											<input class="form-check-input" type="checkbox" value="on" name="comida" >
											<span class="form-check-label">
												<i class="fas fa-hamburger"></i>

											</span>
											<h6>Preparación de comidas</h6>
										</label> <!-- form-check.// -->
									</div>

									<div class="col-6 col-md-2 bg2">
										<label class="form-check">
											<input class="form-check-input" type="checkbox" value="on" name="mascotas" >
											<span class="form-check-label">
												<i class="fas fa-paw"></i>

											</span>
											<h6>Acepto Mascotas</h6>
										</label> <!-- form-check.// -->
									</div>

									<div class="col-6 col-md-2 bg2">
										<label class="form-check">
											<input class="form-check-input" type="checkbox" value="on" name="visitas" >
											<span class="form-check-label">
												<i class="fas fa-users"></i>

											</span>
											<h6>Acepto visitas</h6>
										</label> <!-- form-check.// -->
									</div>

									<div class="col-6 col-md-2 bg2">
										<label class="form-check">
											<input class="form-check-input" type="checkbox" value="on" name="infantes" >
											<span class="form-check-label">
												<i class="fas fa-baby"></i>

											</span>
											<h6>Acepto infantes</h6>
										</label> <!-- form-check.// -->
									</div>

									<div class="col-6 col-md-2 bg2">
										<label class="form-check">
											<input class="form-check-input" type="checkbox" value="on" name="lavadora" >
											<span class="form-check-label">
												<i class="fas fa-tshirt"></i>

											</span>
											<h6>Lavadora</h6>
										</label> <!-- form-check.// -->
									</div>

									<div class="col-6 col-md-2 bg2">
										<label class="form-check">
											<input class="form-check-input" type="checkbox" value="on" name="secadora" >
											<span class="form-check-label">
												<i class="fas fa-tint-slash"></i>

											</span>
											<h6>Secadora</h6>
										</label> <!-- form-check.// -->
									</div>

									<div class="col-6 col-md-2 bg2">
										<label class="form-check">
											<input class="form-check-input" type="checkbox" value="on" name="directo" >
											<span class="form-check-label">
												<i class="fas fa-handshake"></i>

											</span>
											<h6>Trato Directo</h6>
										</label> <!-- form-check.// -->
									</div>




								</div>
							</div>
						



					</div> <!-- card-body.// -->
				</article> <!-- card-group-item.// -->
			</div> <!-- card.// -->

		</section>



	</div> <!-- collapse -filter-content  .// -->
</article>

</form>

<!-- PAGINACION -->	
<nav aria-label="Page navigation example bg-light">
 <br>
 <div class="d-flex justify-content-center">
 <span class="badge badge-primary">
 	Resultados
 	<span class="badge badge-light">{{ persons.start_index }}-{{ persons.end_index }}</span> 
	 de
	<span class="badge badge-light">{{ persons.paginator.count }}</span>
 </span>
 </div>
 <br>
  <ul class="pagination justify-content-center">
	{% if persons.has_previous %}
	<li class="page-item">
      <a class="page-link" href="?{% url_replace request 'page' persons.previous_page_number %}" >Anterior</a>
    </li>
	{% else %}
    <li class="page-item disabled">
      <a class="page-link" href="" >Anterior</a>
    </li>
	{% endif %}

    <li class="page-item"><a class="page-link" href="#">Pag. {{ persons.number }} de {{ persons.paginator.num_pages }}</a></li>
    
	{% if persons.has_next %}
	<li class="page-item">
      <a class="page-link" href="?{% url_replace request 'page' persons.next_page_number %}" >Siguiente</a>
    </li>
	{% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#" >Siguiente</a>
    </li>
	{% endif %}

  </ul>
</nav>

<!-- RESULTADOS-->	

<div class="container-fluid">

	<div class="row">
        {% if persons|length == 0 %}
            <h2>No hay resultados para tu búsqueda, cambia la ubicación o reduce los filtros para intentar de nuevo!! 
                {% comment %} <a href="{% url 'person_submit' %}" class="btn btn-primary px-1 py-1">aquí</a>
            . {% endcomment %} </h2>
        {% else %}
        {% for person in persons %}
		<div class="card col-12 px-2 py-4 col-md-4 bg2">
			<div class="container card">
				
			<!-- UN RESULTADO PARA SITIO-->
			<div class="card col-12">
                <a href="{% url 'person' person.id person.name|slugify %}">

                <!-- IMAGEN -->
                {% if person.image  %}
                <div class=" col-12">
                    <img src="{{person.image.url}}" class="img-fluid" alt="Qcuarto-{{person.name}}">
                </div>
                {% else %}
                <div class=" col-12">
                    <img src="{% static 'core/img/posts/posts_default.png'%}" class="img-fluid" alt="Publicacion en Qcuarto">
                </div>
                {% endif %}
				</a>
				<br>

                
				<!-- TÍTULO -->
				<a href="{% url 'person' person.id person.name|slugify %}" class="text-dark">
                <h3 class="card-title">
                    {{person.name}}
                </h3>
                </a>

                <div class="card-body">

                    <!-- PRECIO -->
                    <div class="row">
                        <h4 class="card-title col-6">$ {{person.price|intcomma}}</h4>

						<!-- FAVORITOS (SI NO ESTÁ EN FAVORITOS, ES i class="far fa-heart", SI SÍ ESTÁ EN FAVORITOS ES i class="fas fa-heart") -->
                        {% if user.is_authenticated %}
						{% if person in favorites %}
						
						<div class="icontext">
                                <a onClick="return confirm('¿Estás seguro de eliminar este favorito?')" href="{% url 'person_removefav' userid=user.id personid=person.id%}?next={{ request.build_absolute_uri }}" class="btn">
                                    <div class="icon-wrap icon-sm round border">
                                        <label data-toggle="tooltip" title="" data-original-title="Eliminar de favoritos"><i class="fas fa-heart"></i></label>
                                    </div>
                                </a>
                        </div>

						{% else %}

						<div class="icontext">
                                <a href="{% url 'person_addfav' userid=user.id personid=person.id%}?next={{ request.build_absolute_uri }}" class="btn" id="addFav">
                                    <div class="icon-wrap icon-sm round border">
                                        <label data-toggle="tooltip" title="" data-original-title="Agregar a favoritos"><i class="far fa-heart"></i></label>
                                    </div>
                                </a>
                        </div>

						{% endif %}
							
						{% else %}
							<div class="icontext">
                                <a href="{% url 'account_login' %}" class="btn">
                                    <div class="icon-wrap icon-sm round border">
                                        <label data-toggle="tooltip" title="" data-original-title="Agregar a favoritos"><i class="far fa-heart"></i></label>
                                    </div>
                                </a>
                        	</div>						
						{% endif %}

                    </div>

					<!-- SI ESTÁ LA CUENTA VERIFICADA, SE MUESTRA ESTO -->
					{% if person.account.verified == True %}
						<div>
						<p class="card-text"><small class="text-muted">
						<span class="fa-stack">
							  <i class="fas fa-circle fa-stack-2x " style="color:Mediumslateblue"></i>
							  <i class="fas fa-check fa-stack-1x fa-inverse"></i>	
						</span>Cuenta verificada</small></p>
						</div>
					{% endif %}


                    <!-- VISITAS E INTENTOS DE interesados -->
                    <div class="rating-wrap ">
                        <div class="label-rating badge-primary rounded">{{person.visits}} vistas</div>
                        <div class="label-rating badge-primary rounded">{{person.contacts}} interesados</div>
                    </div>
        
                <!-- COLONIA -->
                <span class="text-muted"><p><i class="fas fa-map-marker"></i>{{person.colonia}}</p></span>

                <!-- CREATED -->
                {# <p class="card-text"><small class="text-muted">Visto última vez hace {{person.updated|timesince}}</small></p> #}

            </div><!-- card body -->

		</div>  <!-- card resultado -->
		</div> <!-- container  -->
		</div>  <!-- card.// -->		

        {% endfor %}
        {% endif %}
	</div>
	<!-- PAGINACION -->	
<nav aria-label="Page navigation example bg-light">
 <br>
 <div class="d-flex justify-content-center">
 <span class="badge badge-primary">
 	Resultados
 	<span class="badge badge-light">{{ persons.start_index }}-{{ persons.end_index }}</span> 
	 de
	<span class="badge badge-light">{{ persons.paginator.count }}</span>
 </span>
 </div>
 <br>
  <ul class="pagination justify-content-center">
	{% if persons.has_previous %}
	<li class="page-item">
      <a class="page-link" href="?{% url_replace request 'page' persons.previous_page_number %}" >Anterior</a>
    </li>
	{% else %}
    <li class="page-item disabled">
      <a class="page-link" href="" >Anterior</a>
    </li>
	{% endif %}

    <li class="page-item"><a class="page-link" href="#">Pag. {{ persons.number }} de {{ persons.paginator.num_pages }}</a></li>
    
	{% if persons.has_next %}
	<li class="page-item">
	  <a class="page-link" href="?{% url_replace request 'page' persons.next_page_number %}">Siguiente </a>
    </li>
	{% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#" >Siguiente</a>
    </li>
	{% endif %}

  </ul>
</nav>
</div>


<script>


 
	function getCurrentURL () {
		return window.location.href
	  }

	function changeValue (id_ele,new_value) {
		var elem = document.getElementById(id_ele);
		elem.value = new_value
	  }
	
	function guardarURL (url_guardar) {
		new_url = url_guardar
		return new_url
	  }
	


	  
	var url_str = getCurrentURL(); //url actual
	var url = new URL(url_str); //convertir a URL
	var search_params = url.searchParams; //obtener parametros GET

	if (search_params.has('lat_centro') && search_params.has('lon_centro') && search_params.has('nivel_zoom')) {

		lat_centro = search_params.get("lat_centro");
		lon_centro = search_params.get("lon_centro");
		nivel_zoom = search_params.get("nivel_zoom");
		//console.log(lat_centro, lon_centro, nivel_zoom);

		var map = L.map('map').setView([lat_centro, lon_centro], nivel_zoom);
	} else {
		var map = L.map('map').setView([23.6345, -102.5528], 6);
	  }


	var grupoMarcadores = L.layerGroup().addTo(map);
	

	L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
		minZoom:5,
		maxZoom: 19,
		attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
	}).addTo(map);

	//Popups y marcadores
 
{% for person in persons %}

	var pop = L.popup({
	   closeOnClick: true
   }).setContent(

   "<a href='{% url 'person' person.id person.name|slugify %}'>"+
	   "{% if person.image %}"+
	   "<div class=' col-12'>"+
		   "<img src='{{person.image.url}}' class='img-fluid' alt='{{person.name}}'>"+
	   "</div>"+
	   "{% else %}"+
	   "<div class=' col-12'>"+
		   "<img src='{% static 'core/img/posts/posts_default.png'%}' class='img-fluid' alt='publicacion en Qcuarto'>"+
	   "</div>"+
	   "{% endif %}"+
   "</a>"+

   "<a href='{% url 'person' person.id person.name|slugify %}' class='text-dark'>"+
	   "<h6>$ {{person.price}} </h6>"+
	   "<h4 class='card-title'>"+
		   "{{person.name}}"+
	   "</h4>"+
	   
   "</a>"

   );


   var marker = L.marker([{{person.latitud}},{{person.longitud}}]).addTo(map).bindPopup(pop);

   var tooltip = L.tooltip({
	   permanent:true
   }).setContent('$ {{person.price}}');

   marker.bindTooltip(tooltip);

{% endfor %}




	map.on('moveend', function(e) {
		nivel_zoom = e.target._zoom;
		console.log(nivel_zoom) 
		centroObj = map.getCenter();
		centro = Object.values(centroObj)
		lat_centro = centro[0]
		lon_centro = centro[1]
		limObj = map.getBounds();
		limites = Object.values(limObj);
		noreste = limites[1];
		suroeste = limites[0];
		norte = noreste.lat;
		sur = suroeste.lat;
		este = noreste.lng;
		oeste = suroeste.lng;
		console.log(nivel_zoom,lat_centro,lon_centro,norte,sur,este,oeste)

		// Actualizar form
		changeValue("norte",norte);
		changeValue("sur",sur);
		changeValue("este",este);
		changeValue("oeste",oeste);
		changeValue("lat_centro",lat_centro);
		changeValue("lon_centro",lon_centro);
		changeValue("nivel_zoom",nivel_zoom);

		// Actualizar URL
		var url_str = getCurrentURL(); //url actual
		var url = new URL(url_str); //convertir a URL
		var search_params = url.searchParams; //obtener parametros GET
		search_params.set('norte', norte); //cambiar o agregar parametros
		search_params.set('sur', sur);
		search_params.set('este', este);
		search_params.set('oeste', oeste);
		search_params.set('lat_centro', lat_centro);
		search_params.set('lon_centro', lon_centro);
		search_params.set('nivel_zoom', nivel_zoom);
		url.search = search_params.toString();
		var new_url = url.toString();

		var btn = document.getElementById("actualizarBtn").disabled = false;
		document.getElementById("urlNueva").value = new_url;
		console.log("input actualizado");
		guardarURL(new_url);

		//window.location.href = new_url;

		
   });

   function DoSubmit(){
	centroObj = map.getCenter();
	centro = Object.values(centroObj)
	lat_centro = centro[0]
	lon_centro = centro[1]
	limObj = map.getBounds();
	limites = Object.values(limObj);
	noreste = limites[1];
	suroeste = limites[0];
	norte = noreste.lat;
	sur = suroeste.lat;
	este = noreste.lng;
	oeste = suroeste.lng;
	nivel_zoom = map-getZoom();

	document.filtrosForm.norte.value = norte;
	document.filtrosForm.sur.value = sur;
	document.filtrosForm.este.value = este;
	document.filtrosForm.oeste.value = oeste;
	document.filtrosForm.lat_centro.value = lat_centro;
	document.filtrosForm.lon_centro.value = lon_centro;
	document.filtrosForm.nivel_zoom.value = nivel_zoom;
	
	
	return true;
  }   


// map.on('click', (evento) => {
//     latitud = evento.latlng.lat;
//     longitud = evento.latlng.lng;
//     //document.getElementById("id_{{form.latitud.name}}").value = latitud;
//     //document.getElementById("id_{{form.longitud.name}}").value = longitud;
//     grupoMarcadores.clearLayers();
//     L.marker([latitud,longitud]).addTo(grupoMarcadores);
//     limites = map.getBounds();
//     arriba = limites.northEast;
//     console.log(arriba)

// })

	// container for address search results
	const addressSearchResults = new L.LayerGroup().addTo(map);

	/*** Geocoder ***/
	// OSM Geocoder
	const osmGeocoder = new L.Control.geocoder({
		collapsed: false,
		position: 'topright',
		text: 'Search',
		placeholder: 'Search',
	defaultMarkGeocode: false
	}).addTo(map);   

	// handle geocoding result event
	osmGeocoder.on('markgeocode', e => {
	// to review result object
	console.log(e);
	// coordinates for result
	const coords = [e.geocode.center.lat, e.geocode.center.lng];
	// center map on result
	map.setView(coords, 13);
	ActualizarPag();
	// popup for location
	// todo: use custom icon
	// const resultMarker = L.marker(coords).addTo(map);
	// add popup to marker with result text
	// resultMarker.bindPopup(e.geocode.name).openPopup();
 });

{% comment %} L.easyButton('fa-redo fa-lg', function(btn, map)){
	window.location.href = new_url;
}.addTo(map); {% endcomment %}
 
function ActualizarPag(){
	if (document.getElementById("actualizarBtn").disabled == false){
		nueva_url = document.getElementById("urlNueva").value;
		window.location.href = nueva_url;
	}
}

</script>




{% endblock %}