{% extends 'core/base.html' %}
{% load static %}
{% block title %}Iniciar sesión{% endblock %}
{% block content %}





<div class="card offset-md-4 col-md-4 mt-5 bg2">
<article class="card-body">
	<a href="{% url 'account_signup' %}" class="float-right btn btn-outline-primary">Crea tu cuenta <i class="fas fa-user-plus"></i> </a>
	<h4 class="card-title mb-4 mt-1">Log In</h4>
	{% if form.non_field_errors %}
            <p style="color:red">Usuario o contraseña incorrectos, prueba de nuevo.</p>
          {% endif %}
	<p>
		<a href="" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i> &nbsp; Login via Facebook</a>
		<!-- <a href="" class="btn btn-block btn-danger"> <i class="fab fa-google"></i> &nbsp; Login via Google</a> -->
	</p>
	<hr>
	<h3 class="text-center">Ó...</h3>
	<hr>
	<form action="" method="post"> {% csrf_token %}

    <div class="form-group input-icon">
    	<i class="fa fa-user"></i>
        <input name="username" class="form-control" placeholder="Email" type="username">
    </div> <!-- form-group// -->

    <div class="form-group input-icon">
    	<i class="fa fa-lock"></i> 
        <input name="password" class="form-control" placeholder="Contraseña" type="password">
    </div> <!-- form-group// -->      

    <div class="row">

        <div class="col-md-6">
            <div class="form-group">
                <input type="submit" class="btn btn-primary btn-block" value="Log in">
            </div> <!-- form-group// -->
        </div>
		
        <div class="col-md-6 text-right">
            <a class="small" href="#">¿Olvidaste tu contraseña?</a>
        </div>                                            
    </div> <!-- .row// -->                                                                  
</form>
</article>
</div> <!-- card.// -->

{% endblock %}



